body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.boxcontainer{
    background: #7250FF;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.uno {
    background: #F13929;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
