* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
body {
  background: #000;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
  .logo img {
    max-width: 150px;
  }
}
.navigation {
  display: flex;

  li {
    list-style: none;
    margin: 0 10px;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1px;
    }
    &:hover a {
      color: #de0611;
    }
  }
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 35px;
    backdrop-filter: blur(10px);

    &::placeholder {
      color: #fff;
    }
  }
  .btnbuscar {
    color: white;
    border: none;
    position: relative;
    top: 25%;
    background: transparent;
    left: 2%;
  }
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sombraImg {
    position: absolute;
    background: linear-gradient(45deg, black 30%, transparent);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
.content {
  position: relative;
  z-index: 1;
  max-width: 550px;
}
.movieTitle {
  max-width: 100%;
}
.banner .content {
  h4 {
    color: rgba(255, 255, 2555, 0.5);
    font-weight: 500;
    span {
      padding: 0 10px;
      border-right: 1px solid rgba(255, 255, 2555, 0.5);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
      }
      i {
        background: #de0611;
        color: #fff;
        padding: 0 8px;
        display: inline-block;
        border-radius: 2px;
        font-style: normal;
      }
    }
  }
  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
  }
  .buttons {
    position: relative;
    a {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      background: #de0611;
      color: #fff;
      padding: 6px 20px;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:nth-child(2) {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 2555, 0.1);
      }
      &:hover:nth-child(2) {
        background: #de0611;
      }
    }
  }
}
.play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2em;
  cursor: pointer;
  img {
    margin-right: 10px;
    max-width: 50px;
  }
}
.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  video {
    max-width: 900px;
    outline: none;
    border-radius: 5px;
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
@media (max-width: 991px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .banner {
    padding: 100px 50px;
    .play {
      left: 50px;
      font-size: 1em;
    }
  }
  .play img {
    margin-right: 10px;
    max-width: 40px;
  }
  .trailer video {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  header {
    padding: 20px;
  }
  .search {
    position: relative;
    width: calc(100% - 20px);
    height: 40px;
  }
  .banner {
    padding: 220px 20px 120px;
    .play {
      left: 20px;
      font-size: 1em;
      bottom: 30px;
    }
  }
}
