body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
   color: white;
}
header{
    display: flex;
    background-color: #14161A;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
   display: flex;
   align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 12px;
}
nav a{
    font-weight: 600;
    padding-right: 11px;
}
nav a:hover{
    color: #F0DB4F;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
  